@font-face {
    font-family: 'Ethnocentric Rg';
    src: url('font/EthnocentricRg-Regular.woff2') format('woff2'),
        url('fonts/EthnocentricRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    color: var(--text-color);
    font-family: var(--font);
}
:root{
    --text-color: rgb(206, 197, 197);
    --primary-background: black;
    --secondary-background: rgb(131, 34, 66);
    --secondary-background-dark: rgb(226, 17, 86);
    --font: monospace;
    --form-color: rgb(36, 32, 32,0.3);
}
html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    display: flex;
    background-color: var(--primary-background)
}

.bgimage{
    position: relative;
    background-image: url('images/alex-shuper-xXP2tEgYIkI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 70vw;
}

.logo{
    position: absolute;
    top: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

img + h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    color: white;
    font-family: 'Ethnocentric Rg',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.details-container{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    background-color: var(--form-color);
    width: 100%;
    box-shadow: 1px 1px 30px var(--secondary-background-dark);
}

.details{
    display: flex;
    gap: 20%;
    margin-bottom: 30px;
}

.field{
    width: 30%;
}
input{
    width: 100%;
    font-family: inherit;
    outline: none;
    border: 1px solid rgb(83, 83, 83);
    background-color: rgb(39, 36, 36);
    color: var(--text-color);
    border-radius: 4px;
}

input:focus{
    border: 2px solid var(--secondary-background);
}
button+p,button{
    margin-left: 30px;
}
button{
    margin-top: 40px;
    padding: 20px;
    font-size: 1.2rem;
    border: 2px solid var(--secondary-background);
    border-radius: 5px;
    background-color: var(--primary-background);
}

button:hover{
    background-color:var(--secondary-background);
}

label{
    display: block;
    color: rgb(95, 88, 88);
}

a{
    text-decoration: none;
    color: var(--secondary-background);
    font-size: 1.2rem;
    font-weight: bold;
}

a:hover{
    color: var(--secondary-background-dark);
}

.service-info{
    font-size: 1.6rem;
    margin-top: 15%;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: bold;
}
